footer {
         color: #fff;
         background: #333;
         position: relative;
         font-size: 80%;
      }
      .footer-copyright {
         width: 100%;
         height: 40px;
         color: red;
         background: #111;
         
         padding: 10px;
         position: absolute;
	  }
     